Repository jgabor/finsliparn: changes, and which lefthook commands are due for each by the changed paths.
All: typescript, markdown, configs

typescript:
  run: bunx ultracite fix
  stage_fixed: true

markdown:
  run: bunx markdownlint --dot --fix --disable MD013 MD029 MD033 MD036 MD040 --
  stage_fixed: true

configs:
  stage_fixed: true
  run: bunx prettier --write {staged_files}

fix: improve TypeScript strict null checks across core modules
  src/core/diff-analyzer.ts
  src/core/feedback-generator.ts
  src/core/index.test.ts
  src/core/soft-scorer.ts
  src/mcp/tools.ts
Due: typescript

feat: add file filtering to DiffAnalyzer
  ROADMAP.md
  src/core/diff-analyzer.ts
Due: typescript, markdown

refactor: decompose finslipaCheck into phases
  ROADMAP.md
  src/mcp/tools.ts
Due: typescript, markdown

feat: require minimum 2 iterations before merge
  src/mcp/tools.ts
Due: typescript

refactor: remove copilot instructions file
  .github/copilot-instructions.md
Due: markdown

feat: implement finslipa_cancel tool
  ROADMAP.md
  src/mcp/server.ts
  src/mcp/tools.ts
Due: typescript, markdown

feat: default useWorktree to true for isolated iterations
  src/mcp/tools.ts
Due: typescript

feat: implement finslipa_clean tool
  .claude/commands/finslipa:clean.md
  src/core/session-manager.ts
  src/mcp/server.ts
  src/mcp/tools.ts
Due: typescript, markdown

fix: create new branch when adding worktree to avoid branch checkout conflicts
  src/core/worktree-manager.ts
Due: typescript

docs: update ROADMAP.md
  ROADMAP.md
Due: markdown

fix: add staged files to lefthook markdownlint run
  lefthook.yml
Due: configs

feat: allow merge after 1 iteration on perfect score
  src/core/feedback-generator.ts
  src/mcp/tools.ts
  src/types/index.ts
Due: typescript

feat: create worktree at session start for isolation from first iteration
  src/core/directive-writer.ts
  src/mcp/tools.ts
  src/types/index.ts
Due: typescript

feat: add worktree cleanup to finslipa_clean
  .claude/commands/finslipa:clean.md
  src/core/worktree-manager.ts
  src/mcp/tools.ts
Due: typescript, markdown

fix: commit worktree changes before merge in finslipa_merge
  src/mcp/tools.ts
Due: typescript

fix: add bun install to lefthook to prevent interactive prompts
  bun.lock
  lefthook.yml
Due: configs

feat: stage changes without committing in finslipa_merge
  src/mcp/tools.ts
Due: typescript

finsliparn: iteration 1 (score: 95) - add directive.md cleanup
  src/mcp/tools.ts
Due: typescript

fix: exclude lock files from quality analysis
  lefthook.yml
  src/core/diff-analyzer.ts
  src/core/quality-analyzer.ts
Due: typescript, configs

feat: add --debug and --log-path CLI flags to MCP server
  src/core/logger.ts
  src/mcp/server.ts
Due: typescript

feat: auto-create log directories and resolve paths
  .mcp.json
  package.json
  src/core/logger.ts
Due: typescript, configs

feat: add iteration guard rails to prevent premature merge
  ROADMAP.md
  src/core/directive-writer.ts
  src/core/index.test.ts
  src/core/scoring-engine.ts
  src/mcp/tools.ts
  src/types/index.ts
Due: typescript, markdown

feat: add score plateau detection to prevent stagnant iterations
  ROADMAP.md
  src/core/directive-writer.ts
  src/mcp/tools.ts
  src/types/index.ts
Due: typescript, markdown

docs: add parallel experts architecture to specs
  ROADMAP.md
  docs/spec-cc.md
  docs/spec-copilot.md
  lefthook.yml
  src/mcp/server.ts
  src/mcp/tools.ts
Due: typescript, markdown, configs

chore: reorganize ROADMAP.md and update VSCode settings
  .vscode/settings.json
  ROADMAP.md
Due: typescript, markdown, configs

fix: prevent LLM halting and premature merge completion
  ROADMAP.md
  docs/spec-cc.md
  src/core/directive-writer.ts
  src/mcp/tools.ts
Due: typescript, markdown

chore: exclude .mcp.json from version control
  .gitignore
  .mcp.json
Due: typescript, configs

feat(types): add parallel experts type definitions
  src/types/index.ts
Due: typescript

refactor(session): update session creation for parallel mode
  src/core/index.test.ts
  src/core/session-manager.ts
Due: typescript

docs(roadmap): refine parallel experts implementation plan
  ROADMAP.md
Due: markdown

feat(worktree): add parallel expert worktree support
  src/core/worktree-manager.ts
Due: typescript

feat(session): add parallel expert state management
  src/core/session-manager.ts
Due: typescript

feat(directive): add parallel expert directive support
  src/core/directive-writer.ts
Due: typescript

feat(tools): add parallel expert support to MCP tools
  src/mcp/tools.ts
Due: typescript

docs: align defaults with multi-expert exploration patterns
  ROADMAP.md
  docs/spec-cc.md
  docs/spec-copilot.md
Due: markdown

docs: optimize spec-cc.md for conciseness
  docs/spec-cc.md
Due: markdown

docs: streamline spec-cc.md to 447 lines, fix tool naming
  docs/spec-cc.md
  docs/spec-copilot.md
Due: markdown

docs: streamline spec-copilot.md as addendum to spec-cc.md
  docs/spec-copilot.md
Due: markdown

docs: mark parallel experts milestone as complete
  ROADMAP.md
Due: markdown

fix(tools): reload session after initializeExperts for directive seed display
  src/mcp/tools.ts
Due: typescript

Path conditions:
  typescript: any of: *.{js,jsx,ts,tsx,json,jsonc}
  markdown: any of: *.md
  configs: any of: *.{json,yml,yaml}
